.currentsong-container {
    min-height: 60vh; // 60vh === 60% viewport height of visible webpage. If the height contentis less than 60% then then this will be applied.
    display: flex; // For aligning items. This will align each item inside this hoizontally(row)
    flex-direction: column; // This will align each item inside this verticallylly(column)
    align-items:  center; // Align items to the center inside this container
    justify-content: center; // align items vertically to the center.
    img {
        width: 20%;
        border-radius: 50%;
        
    }

    h2 {
        padding: 3rem 1rem 1rem 1rem;
    }

    h3 {
        font-size: 1rem;
    }
}

