Nav {
    display: flex;
    min-height: 10vh;
    justify-content: space-around;
    align-items: center;

    button {
        background: transparent;
        cursor: pointer;
        border: 2px solid rgb(65, 65, 65);
        padding: 0.7rem;
        transition: all 0.3s ease;
        &:hover {
            background: rgb(65, 65, 65);
            color: #fff;
        }
    }

}