// CSS RESET

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3 {
  color: rgb(54, 54, 54);
}

h3,
h4 {
  color: rgb(100, 100, 100);
  font-weight: 400;
}

@import "./Song";
@import "./Player";
@import "./library";
@import "./Nav";
